.red {
    color: $secondary_color;
}

.green {
    color: $primary-color;
}

.shadow {
    -webkit-box-shadow: 0px 6px 4px -1px rgba(181,181,181,1);
    -moz-box-shadow: 0px 6px 4px -1px rgba(181,181,181,1);
    box-shadow: 0px 6px 4px -1px rgba(181,181,181,1);
}