.logo {
    font-size: 2rem;
    font-family: $primary-font;
    color: $primary-color-dark;
}

img.logo {
  height: 4rem;
}

.hamburger {
  display: none;
}

.mob-hamburger {
  @include breakpoint-down(small) {
    display: flex;
  }
}

.mob-nav-link {
  @include breakpoint-down(small) {
    display: none;
  }
}