.nav {
    background-color: rgb(135, 223, 193);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 2rem;
    font-family: $primary-font;
    color: $primary-color-dark;
}

img.logo {
  height: 4rem;
}

.hamburger {
  display: none;
}

.mob-hamburger {
  @include breakpoint-down(small) {
    display: flex;
  }
}

.mob-nav-link {
  @include breakpoint-down(small) {
    display: none;
  }
}